.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #012030;
    padding: 0.75rem 1.5rem;
    color: white;
    gap: 20px;
}

.navbar a {
    cursor: pointer;
    font-size: 20px;
    color: #DAFDBA;
    text-decoration: none;
}
  
.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
}
  
.nav-links a {
    color: #DAFDBA;
    text-decoration: none;
    transition: color 0.3s;
}
  
.nav-links a:hover, .logo a:hover, .user-icon:hover {
    color: #9AEBA3;
}
  
.user-icon {
    color: #DAFDBA;
    font-size: 1.4rem;
    text-decoration: none;
    transition: color 0.3s;
}
