<nav class="navbar">
    <div class="logo">
      <a routerLink="/">📚 Bookly</a>
    </div>
  
    <ul class="nav-links">
      <li><a routerLink="/reviews">Reviews</a></li>
      <li><a routerLink="/books">Books</a></li>
      <li><a routerLink="/favorites">Favorites</a></li>
      <li><a routerLink="/likes">Likes</a></li>
    </ul>
  
    <div class="navbar-right">
      <a routerLink="/login" class="user-icon" title="Login">
        <i class="bi bi-person-circle"></i>
      </a>
    </div>
  </nav>