<nav class="navbar">
    <div class="logo">
      <a routerLink="/">📚 Bookly</a>
    </div>
  
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/reviews">Reviews</a></li>
      <li><a routerLink="/books">Books</a></li>
    </ul>
  
    <div class="navbar-right">
      <input type="text" placeholder="Search users..." class="search-bar" />
      <a routerLink="/login" class="user-icon" title="Login">
        <span>icon</span>
      </a>
    </div>
  </nav>