<section class="books">
    <h1>Books</h1>
    <div class="filter-box">
        <form (ngSubmit)="filter()" method="get">
            <input type="text" [(ngModel)]="toFilter" name="title" id="txt-title" placeholder="title">
            <button type="submit">filter</button>
        </form>
    </div>
    <div class="book-card" *ngFor="let book of filteredBooks">
        <h3>{{ book.getTitle() }}</h3>
        <p class="author">Autor: {{ book.getAuthor() }}</p>
        <p class="content">{{ book.getDescription() }}</p>
        <p class="created_at">created at: {{book.getRelasedDate() }}</p>
        <button (click)="openReviewModal(book)">Escribir review</button>
    </div>
    <div class="modal" *ngIf="showModal">
        <div class="modal-content">
          <h2>Escribir Review para "{{ selectedBook?.getTitle() }}"</h2>
          <textarea [(ngModel)]="reviewContent" placeholder="Escribe tu review aquí..."></textarea>
          <button (click)="submitReview()">Enviar</button>
          <button (click)="closeModal()">Cancelar</button>
        </div>
      </div>
</section>
